.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  
}

.status {
  background-color: #F0F0F0;
  border: 1px solid;
  border-color:#C0C0C0;
  padding: 3px 10px;
}
